a {
    color: white;
    text-decoration: none;
    
}

p {
    text-align: center;
    font-size: xx-large;
}
#hey {
    color: blue;
}
h4 {
    color: white;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;

}

#kelkelkel {
    color: white;
    text-align: center;
    font-size: 60px;
    height:auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
    user-select: none;
    
}
#topmenu {
    display:flex; 
    justify-content:flex-start; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
    margin-top: 0.3vh;
}
#mmwDisplay {
    cursor: pointer;
}
#logo {
    width: 75px; 
    height: auto; 
    padding: 20px;
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#displayDateTime {
    color: white; 
    text-align: left; 
    font-size: 25px;  
    color: #64ffda;
}
#nextClassDisplay {
    text-decoration:none; 
    cursor: pointer; 
    display: flex; 
    justify-content: center;
}
#nc {
    border-radius: 15px; 
    padding: 5px; 
    height:auto; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin: 0 auto;  
    border: 2px solid; 
    border-color: #64ffda; 
    display: inline-block;
}
#timer {
    color: white; 
    height:auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
    user-select: none;
}
#prog {
    width: 75vw; 
    display: flex; 
    justify-content: center;
}
#progdiv {
    height:50px; 
    width:100%; 
    clear:both;
}
#weatherdiv {
    display: flex; 
    justify-content: center;
}
#footer {
    display: flex; 
    justify-content: space-between; 
    position: absolute; 
    bottom: 0; 
    width: 100%;
    align-items: center;
    height: 3vh;
    min-height: 40px;
    background-color: #050c18;
    left: 0;
}
.footerbuttons {
    display: flex;
    padding: 15px;
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#morg {
    color: white;
}
h1:hover {
    color: #64ffda;
}
body {
    background-color: #0a192f;
    height: 100%;
    overflow-y: hidden;
  }
.topg {
    display: flex;
}